{% extends "blogs/base.html" %}

{% block content %}
<div class="topics-container">
    <h2 class="topics-title">🌸 Темы</h2>
    <ul class="topics-list">
        {% for topic in topics %}
        <li class="topic-item">
            <a href="{% url 'blogs:topic' topic.id %}" class="topic-link">📖 {{ topic }}</a>
        </li>
        {% empty %}
        <li class="no-topics">¯\_(ツ)_/¯ Тем пока нет</li>
        {% endfor %}
    </ul>
    <div class="add-topic-link">
        <a href="{% url 'blogs:new_topic' %}" class="btn-add-topic">➕ Добавить новую тему</a>
    </div>
</div>
{% endblock content %}